header {
  flex: 0;
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-bottom: solid silver 1px;
}

header nav {
  flex: 1;
}

header nav a {
  margin-right: 12px;
  font-size: 18px;
  text-decoration: none;
}

header .login {
  font-size: 13px;
}

header .login button {
  padding: 4px 12px 4px 12px;
  margin-left: 8px;
  color: white;
  background-color: #282c4e;
  border: solid #282c4e 1px;
  box-shadow: 0 0 4px #808080;
}

header .login button:hover {
  background-color: #3d4377;
  box-shadow: 0 0 2px #808080;
}

header .login input {
  margin-left: 8px;
  width: 100px;
  background-color: #fafafa;
  border: solid silver 1px;
}

